footer{
    width: 100%;
    height: 70px;
    display: block;
    background-color: #040404;
    /* position: fixed;
    bottom: 0px; */
}

#footer-text {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}