header {
    width: 100%;
    height: 120px;
    display: block;
    z-index: 1;
    background-color: #040404;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
}


#logo-img {
    height: 90px;
    width: 90px;
}

.banner {
    text-align: center;
    align-self: center;
    flex-grow: 1;
}   

.banner span {
    display: flex;
    flex-direction: row;
}

.banner h1 {
    color: white;
}