.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal-popup {
    display: block;
    z-index: 2;
    max-width: 70%;
    max-height: 400px;
    /*Below is to center the modal relative to the browser window*/
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

.modal-popup * {
    opacity: 1;
    
}

.modal-content {
    background-color: #f79b9b;
    border-style: outset;
    border-radius: 5%;
    border-width: 10px;
    max-height: 400px;
    overflow: scroll;
}