.movie-card {
    display: flex;
    flex-direction: column;
    background-color: #373d48;
    width: 15%;
    height: 60vh;
    margin: 5px;
    box-shadow: 5px 5px 3px rgb(114, 112, 112);
    overflow:hidden;
}

.movie-card img {
    padding-bottom: 10px;
    width: 100%;
    max-height: 70%;
}

.movie-card-info {
    flex-shrink: 1;
}

.movie-card p {
    color: white;
    margin: 2px;
    font-size: 17px;
}

.heart-icon {
    width: 20px;
    height: 20px;
}

