
.search-sort-area {
  display: flex;
  flex-direction: row;
  background-color: #040404;
  margin-bottom: 30px;
}

.toggleBtn {
  padding: 15px;
}

.selected {
  background-color: #215ac6;
}

.loadMoreBtn {
  background-color: #5c6678;
  padding: 15px;
  width: 40vw;
  margin-top: 20px;
}

.loadMoreBtn:hover {
  background-color: #215ac6;
}



.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
